
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script language="javascript" type="text/javascript" src="js/JavaScrips.js"></script>
<link rel="stylesheet" media="screen,projection" type="text/css" href="css/main.css">
<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="css/main-msie.css" /><![endif]-->
<link rel="stylesheet" media="print" type="text/css" href="css/print.css">
<title>Admin</title>
</head>
<body>
<!-- Main -->
<div id="main" class="box">
    <!-- Header -->
    <div id="header">
        <!-- Logotyp -->
        <h1 id="logo">H3K Shoe Shop<span></span></a></h1>
        <hr class="noscreen">

        <!-- Search -->
        <div id="search" class="noprint">
            <form action="" method="get">
                <fieldset><legend>Search</legend>
                    <label><span class="noscreen">Find:</span>
                    <span id="search-input-out"><input type="text" name="" id="search-input" size="26"></span></label>
                    <input type="image" src="images/search_submit.gif" id="search-submit" value="OK"></fieldset></form>
        </div> <!-- /search -->
    </div> <!-- /header -->
    
     <!-- Main menu (tabs) -->
     <div id="tabs" class="noprint">
            <h3 class="noscreen">Navigation</h3>
            <ul class="box">
                <li><a href="index.html">Trang chủ<span class="tab-l"></span><span class="tab-r"></span></a></li>
                <li><a href="#">Cá nhân<span class="tab-l"></span><span class="tab-r"></span></a></li>
                <li><a href="index.html">Thoát<span class="tab-l"></span><span class="tab-r"></span></a></li>
                <li><a href="admin.html">Admin<span class="tab-l"></span><span class="tab-r"></span></a></li>
               
            </ul><hr class="noscreen">
     </div> <!-- /tabs -->
    <!-- Page (2 columns) -->
    <div id="page" class="box">
    <div id="page-in" class="box">

        <!-- Content -->
        <div id="content">
        <p> (Dữ liệu quản lý sẽ ở đây)</p>
        </div> <!-- /content -->

        <!-- Right column -->
        <div id="col" class="noprint">
            <div id="col-in">
                
                <!-- Archive -->
                <h3><span>Danh mục quản lý</span></h3>

                <ul id="archive">
                	<li><a href="admin.php?mod=product&act=manage">Quản lý sản phẩm</a></li>
                    <li><a href="admin.php?mod=user&act=manage">Quản lý thành viên</a></li>
                    <li><a href="admin.php?mod=category&act=manage">Quản lý thể loại</a></li>
                    <li><a href="admin.php?mod=manufacturer&act=manage">Quản lý nhà cung cấp</a></li>
                    <li><a href="admin.php?mod=group&act=manage">Quản lý nhóm</a></li>
                    <li><a href="admin.php?mod=order&act=manage">Quản lý hóa đơn</a></li>
                </ul><hr class="noscreen">
                
                </div> <!-- /col-in -->
        </div> <!-- /col -->

    </div> <!-- /page-in -->
    </div> <!-- /page -->

    <!-- Footer -->
    <div id="footer">
        <div id="top" class="noprint"><p><span class="noscreen">Back on top</span> <a href="#header" title="Back on top ^">^<span></span></a></p></div>
        <hr class="noscreen">
        
       
    </div> <!-- /footer -->

</div> <!-- /main -->

</body></html>
