
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script language="javascript" type="text/javascript" src="js/JavaScrips.js"></script>
<link rel="stylesheet" media="screen,projection" type="text/css" href="css/main.css">
<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="css/main-msie.css" /><![endif]-->
<link rel="stylesheet" media="print" type="text/css" href="css/print.css">

<title>H3K Shoe Shop </title>
</head>
<body>
<!-- Main -->
<div id="main" class="box">
    <!-- Header -->
    <div id="header">
        <!-- Logotyp -->
        <h1 id="logo">H3K Shoe Shop</a></h1>
        <hr class="noscreen">

        <!-- Search -->

         <!-- /search -->
    </div> <!-- /header -->
    
     <!-- Main menu (tabs) -->
     <div id="tabs" class="noprint">
            <h3 class="noscreen">Navigation</h3>
            <ul class="box">
            	<li><a href="index.html">Trang chủ<span class="tab-l"></span><span class="tab-r"></span></a></li>
                <li><a href="login.html"> Đăng nhập<span class="tab-l"></span><span class="tab-r"></span></a></li>
                <li><a href="Register.html">Đăng ký<span class="tab-l"></span><span class="tab-r"></span></a></li>
               <!-- <li id="active"><a href="#">Weblog<span class="tab-l"></span><span class="tab-r"></span></a></li> <!-- Active -->
                
            </ul><hr class="noscreen">
     </div> <!-- /tabs -->
    <!-- Page (2 columns) -->
    <div id="page" class="box">
    <div id="page-in" class="box">

        <!-- Content -->
        <div id="content">
            <p>(Dữ liệu sản phẩm sẽ tràn ra ở đây)</p>
        </div> <!-- /content -->

        <!-- Right column -->
        <div id="col" class="noprint">
            <div id="col-in">
                </div> 
        </div> 

    </div> 
    </div> 

     <!-- Footer -->
    <div id="footer">
        <div id="top" class="noprint"><p><span class="noscreen">Back on top</span> <a href="#header" title="Back on top ^">^<span></span></a></p></div>
        <hr class="noscreen">
        
        
    </div> <!-- /footer -->

</div> <!-- /main -->

</body></html>
